<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>trustit documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">trustit documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  SignInComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/login/components/sign-in.component.ts</code>
</p>






<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>ts-sign-in</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">
&lt;form [formGroup]&#x3D;&quot;form&quot; (submit)&#x3D;&quot;login()&quot;&gt;
  {{form.get(&#x27;username&#x27;)?.value.length | tsSquare: 2 : &#x27;yo&#x27;}}
  &lt;i class&#x3D;&quot;fa fa-spinner&quot; *ngIf&#x3D;&quot;form.get(&#x27;username&#x27;)?.pending&quot;&gt;&lt;/i&gt;

  &lt;input
    type&#x3D;&quot;text&quot; formControlName&#x3D;&quot;username&quot;
    class&#x3D;&quot;form-control&quot;
    [ngClass]&#x3D;&quot;{&#x27;is-invalid&#x27;: form.get(&#x27;username&#x27;)?.invalid}&quot;
  &gt;
  &lt;input
    type&#x3D;&quot;text&quot; formControlName&#x3D;&quot;password&quot;
    class&#x3D;&quot;form-control&quot;
    [ngClass]&#x3D;&quot;{&#x27;is-invalid&#x27;: form.get(&#x27;password&#x27;)?.invalid}&quot;
  &gt;
  &lt;button type&#x3D;&quot;submit&quot; [disabled]&#x3D;&quot;form.invalid || form.pending&quot; &gt;Login&lt;/button&gt;
&lt;/form&gt;


</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#form" >form</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#asyncValidator" >asyncValidator</a>
                            </li>
                            <li>
                                <a href="#calc" >calc</a>
                            </li>
                            <li>
                                <a href="#login" >login</a>
                            </li>
                        </ul>
                    </td>
                </tr>





        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(fb: <a href="https://angular.io/api/forms/FormBuilder" target="_blank">FormBuilder</a>, http: <a href="https://angular.io/api/common/http/HttpClient" target="_blank">HttpClient</a>, authService: <a href="../injectables/AuthService.html" target="_self">AuthService</a>, router: <a href="https://angular.io/api/router/Router" target="_blank">Router</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="44" class="link-to-prism">src/app/features/login/components/sign-in.component.ts:44</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>fb</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/forms/FormBuilder" target="_blank" >FormBuilder</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>http</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/common/http/HttpClient" target="_blank" >HttpClient</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>authService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/AuthService.html" target="_self" >AuthService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>router</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/router/Router" target="_blank" >Router</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>





    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="asyncValidator"></a>
                    <span class="name">
                        <span ><b>asyncValidator</b></span>
                        <a href="#asyncValidator"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>asyncValidator(c: <a href="https://angular.io/api/forms/FormControl" target="_blank">FormControl</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="78"
                            class="link-to-prism">src/app/features/login/components/sign-in.component.ts:78</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>c</td>
                                    <td>
                                                <code><a href="https://angular.io/api/forms/FormControl" target="_blank" >FormControl</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>    <code>ValidationErrors | null</code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="calc"></a>
                    <span class="name">
                        <span ><b>calc</b></span>
                        <a href="#calc"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>calc(a: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank">number</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="95"
                            class="link-to-prism">src/app/features/login/components/sign-in.component.ts:95</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>a</td>
                                    <td>
                                                <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="login"></a>
                    <span class="name">
                        <span ><b>login</b></span>
                        <a href="#login"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>login()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="62"
                            class="link-to-prism">src/app/features/login/components/sign-in.component.ts:62</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="form"></a>
                    <span class="name">
                        <span ><b>form</b></span>
                        <a href="#form"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://angular.io/api/forms/FormGroup" target="_blank" >FormGroup</a></code>

                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="44" class="link-to-prism">src/app/features/login/components/sign-in.component.ts:44</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, OnInit } from &#x27;@angular/core&#x27;;
import { FormBuilder, FormControl, FormGroup, ValidationErrors, Validators } from &#x27;@angular/forms&#x27;;
import { debounceTime, interval, map, Observable, of, switchMap, tap, timer } from &#x27;rxjs&#x27;;
import { HttpClient } from &#x27;@angular/common/http&#x27;;
import { User } from &#x27;../../../model/user&#x27;;
import { AuthService } from &#x27;../../../core/auth/auth.service&#x27;;
import { Router } from &#x27;@angular/router&#x27;;

function customValidator(c: FormControl): ValidationErrors | null {
  if (c.value &#x3D;&#x3D;&#x3D; &#x27;pippo&#x27;) {
    return {
      pippo: true
    }
  }
  return null;
}


@Component({
  selector: &#x27;ts-sign-in&#x27;,
  template: &#x60;

    &lt;form [formGroup]&#x3D;&quot;form&quot; (submit)&#x3D;&quot;login()&quot;&gt;
      {{form.get(&#x27;username&#x27;)?.value.length | tsSquare: 2 : &#x27;yo&#x27;}}
      &lt;i class&#x3D;&quot;fa fa-spinner&quot; *ngIf&#x3D;&quot;form.get(&#x27;username&#x27;)?.pending&quot;&gt;&lt;/i&gt;
                    
      &lt;input 
        type&#x3D;&quot;text&quot; formControlName&#x3D;&quot;username&quot; 
        class&#x3D;&quot;form-control&quot;
        [ngClass]&#x3D;&quot;{&#x27;is-invalid&#x27;: form.get(&#x27;username&#x27;)?.invalid}&quot;
      &gt;
      &lt;input 
        type&#x3D;&quot;text&quot; formControlName&#x3D;&quot;password&quot;
        class&#x3D;&quot;form-control&quot;
        [ngClass]&#x3D;&quot;{&#x27;is-invalid&#x27;: form.get(&#x27;password&#x27;)?.invalid}&quot;
      &gt;
      &lt;button type&#x3D;&quot;submit&quot; [disabled]&#x3D;&quot;form.invalid || form.pending&quot; &gt;Login&lt;/button&gt;
    &lt;/form&gt;
    

  &#x60;,
})
export class SignInComponent {
  form: FormGroup;

  constructor(
    private fb: FormBuilder,
    private http: HttpClient,
    private authService: AuthService,
    private router: Router
  ) {
    this.form &#x3D; fb.group({
      username: [
        &#x27;&#x27;,
        [Validators.required, customValidator],
        (c: FormControl) &#x3D;&gt; this.asyncValidator(c)
      ],
      password: [&#x27;&#x27;, [Validators.required, Validators.minLength(3)]]
    })
  }

  login() {
    console.log(this.form.value);
    this.authService.login(this.form.value)
      .subscribe(res &#x3D;&gt; {
        this.router.navigateByUrl(&#x27;contacts&#x27;)
      })
    /*
    this.authService.login2(this.form.value)
      .then(res &#x3D;&gt; {
        console.log(&#x27;2&#x27;, res)
        this.router.navigateByUrl(&#x27;contacts&#x27;)
      })
     */

  }

  asyncValidator(c: FormControl): ValidationErrors | null {
    return timer(1000)
      .pipe(
        switchMap(() &#x3D;&gt; {
          return this.http.get&lt;User[]&gt;(&#x27;http://localhost:3000/users?q&#x3D;&#x27; + c.value)
            .pipe(
              map(res &#x3D;&gt; {
                return res.length ? null : {  usernameNotExists: true }
              }),
              // tap(res &#x3D;&gt; console.log(res))
            )
        })
      )


  }

  calc(a: number) {
    return a * a;
  }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><form [formGroup]="form" (submit)="login()">  {{form.get(\'username\')?.value.length | tsSquare: 2 : \'yo\'}}  <i class="fa fa-spinner" *ngIf="form.get(\'username\')?.pending"></i>  <input    type="text" formControlName="username"    class="form-control"    [ngClass]="{\'is-invalid\': form.get(\'username\')?.invalid}"  >  <input    type="text" formControlName="password"    class="form-control"    [ngClass]="{\'is-invalid\': form.get(\'password\')?.invalid}"  >  <button type="submit" [disabled]="form.invalid || form.pending" >Login</button></form></div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'ts-accordion'},{'name': 'AccordionGroupComponent', 'selector': 'ts-accordion-group'},{'name': 'AppComponent', 'selector': 'ts-root'},{'name': 'CardComponent', 'selector': 'ts-card'},{'name': 'ColComponent', 'selector': 'ts-col'},{'name': 'ContactsComponent', 'selector': 'ts-contacts'},{'name': 'ContactsMapComponent', 'selector': 'ts-contacts-map'},{'name': 'GmapComponent', 'selector': 'ts-gmap'},{'name': 'LoginComponent', 'selector': 'ts-login'},{'name': 'LostPassComponent', 'selector': 'ts-lost-pass'},{'name': 'NavbarComponent', 'selector': 'ts-navbar'},{'name': 'RegistrationComponent', 'selector': 'ts-registration'},{'name': 'RowComponent', 'selector': 'ts-row'},{'name': 'SettingsComponent', 'selector': 'ts-settings'},{'name': 'SignInComponent', 'selector': 'ts-sign-in'},{'name': 'Uikit1demoComponent', 'selector': 'ts-uikit1demo'},{'name': 'Uikit2demoComponent', 'selector': 'ts-uikit2demo'},{'name': 'UsersComponent', 'selector': 'ts-users'},{'name': 'UsersDetailsComponent', 'selector': 'ts-users-details'},{'name': 'UsersFormComponent', 'selector': 'ts-users-form'},{'name': 'UsersListComponent', 'selector': 'ts-users-list'},{'name': 'UsersListItemComponent', 'selector': 'ts-users-list-item'},{'name': 'WeatherComponent', 'selector': 'ts-weather'}];
    var DIRECTIVES = [{'name': 'AlertDirective', 'selector': '[tsAlert]'},{'name': 'EmailValidatorDirective', 'selector': '[tsEmailValidator]'},{'name': 'FormatInputDirective', 'selector': '[tsFormatInput]'},{'name': 'IfLoggedDirective', 'selector': '[tsIfLogged]'},{'name': 'MarginDirective', 'selector': '[tsMargin]'},{'name': 'PadDirective', 'selector': '[tsPad]'},{'name': 'StopPropagationDirective', 'selector': '[tsStopPropagation]'},{'name': 'UrlDirective', 'selector': '[tsUrl]'}];
    var ACTUAL_COMPONENT = {'name': 'SignInComponent'};
</script>
<script src="../js/tree.js"></script>
















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'SignInComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
