<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>trustit documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">trustit documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  Uikit1demoComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/uikit1demo/uikit1demo.component.ts</code>
</p>






<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>ts-uikit1demo</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">
 &lt;ts-row mq&#x3D;&quot;lg&quot;&gt;
   &lt;ts-col&gt;
     &lt;input type&#x3D;&quot;text&quot;&gt;
   &lt;/ts-col&gt;
   &lt;ts-col&gt;
     &lt;button&gt;click me&lt;/button&gt;
   &lt;/ts-col&gt;
 &lt;/ts-row&gt;

 &lt;ts-accordion [openMultiple]&#x3D;&quot;false&quot;&gt;
   &lt;ts-accordion-group title&#x3D;&quot;uno&quot;&gt;
     bla bla
   &lt;/ts-accordion-group&gt;

   &lt;ts-accordion-group title&#x3D;&quot;GMAP&quot;&gt;
     &lt;ts-gmap [coords]&#x3D;&quot;coords&quot; [zoom]&#x3D;&quot;zoom&quot;&gt;&lt;/ts-gmap&gt;
     &lt;button (click)&#x3D;&quot;zoom &#x3D; zoom + 1&quot;&gt;+&lt;/button&gt;
     &lt;button (click)&#x3D;&quot;zoom &#x3D; zoom - 1&quot;&gt;-&lt;/button&gt;
     &lt;button (click)&#x3D;&quot;coords &#x3D; { lat: 41, lng: 12}&quot;&gt;Italy&lt;/button&gt;
     &lt;button (click)&#x3D;&quot;coords &#x3D; { lat: 55, lng: 22}&quot;&gt;Lituania&lt;/button&gt;
   &lt;/ts-accordion-group&gt;

   &lt;ts-accordion-group title&#x3D;&quot;Weather&quot;&gt;
     &lt;input type&#x3D;&quot;text&quot; [formControl]&#x3D;&quot;input&quot;&gt;
     &lt;ts-weather [city]&#x3D;&quot;cityText&quot; [unit]&#x3D;&quot;unitMeteo&quot;&gt;&lt;/ts-weather&gt;
     &lt;button (click)&#x3D;&quot;unitMeteo &#x3D; &#x27;imperial&#x27;&quot;&gt;Imperial&lt;/button&gt;
     &lt;button (click)&#x3D;&quot;unitMeteo &#x3D; &#x27;metric&#x27;&quot;&gt;metric&lt;/button&gt;
   &lt;/ts-accordion-group&gt;
 &lt;/ts-accordion&gt;

 &lt;hr&gt;
 &lt;!--&lt;div *ngFor&#x3D;&quot;let config of data&quot;&gt;
   &lt;div *loader&#x3D;&quot;config&quot;&gt;&lt;/div&gt;
 &lt;/div&gt;
--&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#cityText" >cityText</a>
                            </li>
                            <li>
                                <a href="#coords" >coords</a>
                            </li>
                            <li>
                                <a href="#input" >input</a>
                            </li>
                            <li>
                                <a href="#tpl" >tpl</a>
                            </li>
                            <li>
                                <a href="#unitMeteo" >unitMeteo</a>
                            </li>
                            <li>
                                <a href="#users" >users</a>
                            </li>
                            <li>
                                <a href="#zoom" >zoom</a>
                            </li>
                        </ul>
                    </td>
                </tr>






        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(view: <a href="https://angular.io/api/core/ViewContainerRef" target="_blank">ViewContainerRef</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="63" class="link-to-prism">src/app/features/uikit1demo/uikit1demo.component.ts:63</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>view</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/core/ViewContainerRef" target="_blank" >ViewContainerRef</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>






    <section>
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="cityText"></a>
                    <span class="name">
                        <span ><b>cityText</b></span>
                        <a href="#cityText"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>&#x27;&#x27;</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="60" class="link-to-prism">src/app/features/uikit1demo/uikit1demo.component.ts:60</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="coords"></a>
                    <span class="name">
                        <span ><b>coords</b></span>
                        <a href="#coords"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/object" target="_blank" >object</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>{ lat: 55, lng: 11}</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="62" class="link-to-prism">src/app/features/uikit1demo/uikit1demo.component.ts:62</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="input"></a>
                    <span class="name">
                        <span ><b>input</b></span>
                        <a href="#input"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>new FormControl()</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="59" class="link-to-prism">src/app/features/uikit1demo/uikit1demo.component.ts:59</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="tpl"></a>
                    <span class="name">
                        <span ><b>tpl</b></span>
                        <a href="#tpl"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>TemplateRef&lt;any&gt;</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <b>Decorators : </b>
                        <br />
                        <code>
                            @ViewChild(&#x27;nodata&#x27;)<br />
                        </code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="57" class="link-to-prism">src/app/features/uikit1demo/uikit1demo.component.ts:57</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="unitMeteo"></a>
                    <span class="name">
                        <span ><b>unitMeteo</b></span>
                        <a href="#unitMeteo"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>&quot;imperial&quot; | &quot;metric&quot;</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>&#x27;metric&#x27;</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="61" class="link-to-prism">src/app/features/uikit1demo/uikit1demo.component.ts:61</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="users"></a>
                    <span class="name">
                        <span ><b>users</b></span>
                        <a href="#users"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>    <code>null</code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>null</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="58" class="link-to-prism">src/app/features/uikit1demo/uikit1demo.component.ts:58</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="zoom"></a>
                    <span class="name">
                        <span ><b>zoom</b></span>
                        <a href="#zoom"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>5</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="63" class="link-to-prism">src/app/features/uikit1demo/uikit1demo.component.ts:63</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import {
  Component, ComponentRef,
  ElementRef,
  OnInit,
  QueryList,
  TemplateRef,
  ViewChild,
  ViewChildren,
  ViewContainerRef
} from &#x27;@angular/core&#x27;;
import { FormControl } from &#x27;@angular/forms&#x27;;
import { debounceTime } from &#x27;rxjs&#x27;;
import { CardComponent } from &#x27;../../shared/components/card.component&#x27;;

@Component({
  selector: &#x27;ts-uikit1demo&#x27;,
  template: &#x60;
 
    &lt;ts-row mq&#x3D;&quot;lg&quot;&gt;
      &lt;ts-col&gt;
        &lt;input type&#x3D;&quot;text&quot;&gt;
      &lt;/ts-col&gt;
      &lt;ts-col&gt;
        &lt;button&gt;click me&lt;/button&gt;
      &lt;/ts-col&gt;
    &lt;/ts-row&gt;
    
    &lt;ts-accordion [openMultiple]&#x3D;&quot;false&quot;&gt;
      &lt;ts-accordion-group title&#x3D;&quot;uno&quot;&gt;
        bla bla
      &lt;/ts-accordion-group&gt;
      
      &lt;ts-accordion-group title&#x3D;&quot;GMAP&quot;&gt;
        &lt;ts-gmap [coords]&#x3D;&quot;coords&quot; [zoom]&#x3D;&quot;zoom&quot;&gt;&lt;/ts-gmap&gt;
        &lt;button (click)&#x3D;&quot;zoom &#x3D; zoom + 1&quot;&gt;+&lt;/button&gt;
        &lt;button (click)&#x3D;&quot;zoom &#x3D; zoom - 1&quot;&gt;-&lt;/button&gt;
        &lt;button (click)&#x3D;&quot;coords &#x3D; { lat: 41, lng: 12}&quot;&gt;Italy&lt;/button&gt;
        &lt;button (click)&#x3D;&quot;coords &#x3D; { lat: 55, lng: 22}&quot;&gt;Lituania&lt;/button&gt;
      &lt;/ts-accordion-group&gt;

      &lt;ts-accordion-group title&#x3D;&quot;Weather&quot;&gt;
        &lt;input type&#x3D;&quot;text&quot; [formControl]&#x3D;&quot;input&quot;&gt;
        &lt;ts-weather [city]&#x3D;&quot;cityText&quot; [unit]&#x3D;&quot;unitMeteo&quot;&gt;&lt;/ts-weather&gt;
        &lt;button (click)&#x3D;&quot;unitMeteo &#x3D; &#x27;imperial&#x27;&quot;&gt;Imperial&lt;/button&gt;
        &lt;button (click)&#x3D;&quot;unitMeteo &#x3D; &#x27;metric&#x27;&quot;&gt;metric&lt;/button&gt;
      &lt;/ts-accordion-group&gt;
    &lt;/ts-accordion&gt;
    
    &lt;hr&gt;
    &lt;!--&lt;div *ngFor&#x3D;&quot;let config of data&quot;&gt;
      &lt;div *loader&#x3D;&quot;config&quot;&gt;&lt;/div&gt;
    &lt;/div&gt;
   --&gt;
  &#x60;,
})
export class Uikit1demoComponent  {
  @ViewChild(&#x27;nodata&#x27;) tpl!: TemplateRef&lt;any&gt;
  users &#x3D; null;
  input &#x3D; new FormControl()
  cityText: string &#x3D; &#x27;&#x27;
  unitMeteo: &#x27;imperial&#x27; | &#x27;metric&#x27; &#x3D; &#x27;metric&#x27;
  coords &#x3D; { lat: 55, lng: 11}
  zoom &#x3D; 5;

  constructor(private view: ViewContainerRef) {
    setTimeout(() &#x3D;&gt; {
      console.log(this.tpl)
      const compo: ComponentRef&lt;CardComponent&gt; &#x3D; view.createComponent(CardComponent)
      compo.instance.title &#x3D; &#x27;ciccio&#x27;
      compo.instance.opened &#x3D; true;

    }, 2000)

    this.input.valueChanges
      .pipe(
        debounceTime(1000)
      )
      .subscribe(text &#x3D;&gt; this.cityText &#x3D; text)
  }

}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div> <ts-row mq="lg">   <ts-col>     <input type="text">   </ts-col>   <ts-col>     <button>click me</button>   </ts-col> </ts-row> <ts-accordion [openMultiple]="false">   <ts-accordion-group title="uno">     bla bla   </ts-accordion-group>   <ts-accordion-group title="GMAP">     <ts-gmap [coords]="coords" [zoom]="zoom"></ts-gmap>     <button (click)="zoom = zoom + 1">+</button>     <button (click)="zoom = zoom - 1">-</button>     <button (click)="coords = { lat: 41, lng: 12}">Italy</button>     <button (click)="coords = { lat: 55, lng: 22}">Lituania</button>   </ts-accordion-group>   <ts-accordion-group title="Weather">     <input type="text" [formControl]="input">     <ts-weather [city]="cityText" [unit]="unitMeteo"></ts-weather>     <button (click)="unitMeteo = \'imperial\'">Imperial</button>     <button (click)="unitMeteo = \'metric\'">metric</button>   </ts-accordion-group> </ts-accordion> <hr> <!--<div *ngFor="let config of data">   <div *loader="config"></div> </div>--></div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'ts-accordion'},{'name': 'AccordionGroupComponent', 'selector': 'ts-accordion-group'},{'name': 'AppComponent', 'selector': 'ts-root'},{'name': 'CardComponent', 'selector': 'ts-card'},{'name': 'ColComponent', 'selector': 'ts-col'},{'name': 'ContactsComponent', 'selector': 'ts-contacts'},{'name': 'ContactsMapComponent', 'selector': 'ts-contacts-map'},{'name': 'GmapComponent', 'selector': 'ts-gmap'},{'name': 'LoginComponent', 'selector': 'ts-login'},{'name': 'LostPassComponent', 'selector': 'ts-lost-pass'},{'name': 'NavbarComponent', 'selector': 'ts-navbar'},{'name': 'RegistrationComponent', 'selector': 'ts-registration'},{'name': 'RowComponent', 'selector': 'ts-row'},{'name': 'SettingsComponent', 'selector': 'ts-settings'},{'name': 'SignInComponent', 'selector': 'ts-sign-in'},{'name': 'Uikit1demoComponent', 'selector': 'ts-uikit1demo'},{'name': 'Uikit2demoComponent', 'selector': 'ts-uikit2demo'},{'name': 'UsersComponent', 'selector': 'ts-users'},{'name': 'UsersDetailsComponent', 'selector': 'ts-users-details'},{'name': 'UsersFormComponent', 'selector': 'ts-users-form'},{'name': 'UsersListComponent', 'selector': 'ts-users-list'},{'name': 'UsersListItemComponent', 'selector': 'ts-users-list-item'},{'name': 'WeatherComponent', 'selector': 'ts-weather'}];
    var DIRECTIVES = [{'name': 'AlertDirective', 'selector': '[tsAlert]'},{'name': 'EmailValidatorDirective', 'selector': '[tsEmailValidator]'},{'name': 'FormatInputDirective', 'selector': '[tsFormatInput]'},{'name': 'IfLoggedDirective', 'selector': '[tsIfLogged]'},{'name': 'MarginDirective', 'selector': '[tsMargin]'},{'name': 'PadDirective', 'selector': '[tsPad]'},{'name': 'StopPropagationDirective', 'selector': '[tsStopPropagation]'},{'name': 'UrlDirective', 'selector': '[tsUrl]'}];
    var ACTUAL_COMPONENT = {'name': 'Uikit1demoComponent'};
</script>
<script src="../js/tree.js"></script>
















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'Uikit1demoComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
