<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>trustit documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">trustit documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  UsersFormComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/users/components/users-form.component.ts</code>
</p>






<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>











            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>ts-users-form</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;div *ngIf&#x3D;&quot;f.invalid &amp;&amp; f.dirty&quot;&gt;Form invalid&lt;/div&gt;

&lt;form #f&#x3D;&quot;ngForm&quot; (submit)&#x3D;&quot;save.emit(f.value)&quot;&gt;
  &lt;input
    type&#x3D;&quot;text&quot; class&#x3D;&quot;form-control&quot; name&#x3D;&quot;name&quot;
    [ngModel]&#x3D;&quot;activeUser?.name&quot;
    #inputName&#x3D;&quot;ngModel&quot; placeholder&#x3D;&quot;name&quot;
    required minlength&#x3D;&quot;3&quot;
    [ngClass]&#x3D;&quot;{
        &#x27;is-valid&#x27;: inputName.valid,
        &#x27;is-invalid&#x27;: inputName.invalid &amp;&amp; f.dirty
      }&quot;

  &gt;

  &lt;div *ngIf&#x3D;&quot;f.dirty &amp;&amp; inputName.errors as err&quot;&gt;
    &lt;div *ngIf&#x3D;&quot;err[&#x27;required&#x27;]&quot;&gt;field required&lt;/div&gt;
    &lt;div *ngIf&#x3D;&quot;err[&#x27;minlength&#x27;] as minL&quot;&gt;
      field too short. Missing {{minL.requiredLength - minL.actualLength}} chars
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;input
    type&#x3D;&quot;text&quot; class&#x3D;&quot;form-control&quot; name&#x3D;&quot;email&quot;
    [ngModel]&#x3D;&quot;activeUser?.email&quot;
    placeholder&#x3D;&quot;email&quot;
    #inputEmail&#x3D;&quot;ngModel&quot;
    tsEmailValidator
    [ngClass]&#x3D;&quot;{
        &#x27;is-valid&#x27;: inputEmail.valid,
        &#x27;is-invalid&#x27;: inputEmail.invalid &amp;&amp; f.dirty
      }&quot;
  &gt;

  &lt;div *ngIf&#x3D;&quot;f.dirty &amp;&amp; inputEmail.errors as err&quot;&gt;
    &lt;div *ngIf&#x3D;&quot;err[&#x27;required&#x27;]&quot;&gt;field required&lt;/div&gt;
    &lt;div *ngIf&#x3D;&quot;err[&#x27;email&#x27;]&quot;&gt;email invalid&lt;/div&gt;
    &lt;div *ngIf&#x3D;&quot;err[&#x27;pippo&#x27;]&quot;&gt;non puoi usare pippo&lt;/div&gt;
    &lt;div *ngIf&#x3D;&quot;err[&#x27;troppoCorto&#x27;] as minL&quot;&gt;
      field too short
    &lt;/div&gt;
  &lt;/div&gt;

  &lt;button type&#x3D;&quot;submit&quot; (click)&#x3D;&quot;clear.emit()&quot;
          *ngIf&#x3D;&quot;activeUser?.id&quot;&gt;CLEAR&lt;/button&gt;
  &lt;button type&#x3D;&quot;submit&quot; [disabled]&#x3D;&quot;f.invalid&quot;&gt;SAVE&lt;/button&gt;
&lt;/form&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>


                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#activeUser" >activeUser</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Outputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#clear" >clear</a>
                            </li>
                            <li>
                                <a href="#save" >save</a>
                            </li>
                        </ul>
                    </td>
                </tr>



        </tbody>
    </table>
</section>


    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="activeUser"></a>
                        <b>activeUser</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="../miscellaneous/typealiases.html#User" target="_self" >User | null</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>null</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="59" class="link-to-prism">src/app/features/users/components/users-form.component.ts:59</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>
    <section>
    <h3 id="outputs">Outputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="clear"></a>
                        <b>clear</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://angular.io/api/core/EventEmitter" target="_blank" >EventEmitter</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="61" class="link-to-prism">src/app/features/users/components/users-form.component.ts:61</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="save"></a>
                        <b>save</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://angular.io/api/core/EventEmitter" target="_blank" >EventEmitter</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="60" class="link-to-prism">src/app/features/users/components/users-form.component.ts:60</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>




</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, EventEmitter, Input, OnInit, Output } from &#x27;@angular/core&#x27;;
import { UsersService } from &#x27;../services/users.service&#x27;;
import { UsersStoreService } from &#x27;../services/users-store.service&#x27;;
import { User } from &#x27;../../../model/user&#x27;;

@Component({
  selector: &#x27;ts-users-form&#x27;,
  template: &#x60;
    &lt;div *ngIf&#x3D;&quot;f.invalid &amp;&amp; f.dirty&quot;&gt;Form invalid&lt;/div&gt;
    
    &lt;form #f&#x3D;&quot;ngForm&quot; (submit)&#x3D;&quot;save.emit(f.value)&quot;&gt;
      &lt;input
        type&#x3D;&quot;text&quot; class&#x3D;&quot;form-control&quot; name&#x3D;&quot;name&quot;
        [ngModel]&#x3D;&quot;activeUser?.name&quot;
        #inputName&#x3D;&quot;ngModel&quot; placeholder&#x3D;&quot;name&quot;
        required minlength&#x3D;&quot;3&quot;
        [ngClass]&#x3D;&quot;{
            &#x27;is-valid&#x27;: inputName.valid, 
            &#x27;is-invalid&#x27;: inputName.invalid &amp;&amp; f.dirty
          }&quot;

      &gt;

      &lt;div *ngIf&#x3D;&quot;f.dirty &amp;&amp; inputName.errors as err&quot;&gt;
        &lt;div *ngIf&#x3D;&quot;err[&#x27;required&#x27;]&quot;&gt;field required&lt;/div&gt;
        &lt;div *ngIf&#x3D;&quot;err[&#x27;minlength&#x27;] as minL&quot;&gt;
          field too short. Missing {{minL.requiredLength - minL.actualLength}} chars
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;input
        type&#x3D;&quot;text&quot; class&#x3D;&quot;form-control&quot; name&#x3D;&quot;email&quot;
        [ngModel]&#x3D;&quot;activeUser?.email&quot;
        placeholder&#x3D;&quot;email&quot;
        #inputEmail&#x3D;&quot;ngModel&quot;
        tsEmailValidator
        [ngClass]&#x3D;&quot;{
            &#x27;is-valid&#x27;: inputEmail.valid, 
            &#x27;is-invalid&#x27;: inputEmail.invalid &amp;&amp; f.dirty
          }&quot;
      &gt;

      &lt;div *ngIf&#x3D;&quot;f.dirty &amp;&amp; inputEmail.errors as err&quot;&gt;
        &lt;div *ngIf&#x3D;&quot;err[&#x27;required&#x27;]&quot;&gt;field required&lt;/div&gt;
        &lt;div *ngIf&#x3D;&quot;err[&#x27;email&#x27;]&quot;&gt;email invalid&lt;/div&gt;
        &lt;div *ngIf&#x3D;&quot;err[&#x27;pippo&#x27;]&quot;&gt;non puoi usare pippo&lt;/div&gt;
        &lt;div *ngIf&#x3D;&quot;err[&#x27;troppoCorto&#x27;] as minL&quot;&gt;
          field too short
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;button type&#x3D;&quot;submit&quot; (click)&#x3D;&quot;clear.emit()&quot;
              *ngIf&#x3D;&quot;activeUser?.id&quot;&gt;CLEAR&lt;/button&gt;
      &lt;button type&#x3D;&quot;submit&quot; [disabled]&#x3D;&quot;f.invalid&quot;&gt;SAVE&lt;/button&gt;
    &lt;/form&gt;
  &#x60;,
})
export class UsersFormComponent {
  @Input() activeUser: User | null &#x3D; null;
  @Output() save &#x3D; new EventEmitter&lt;Pick&lt;User, &quot;name&quot; | &quot;email&quot;&gt;&gt;()
  @Output() clear &#x3D; new EventEmitter()
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><div *ngIf="f.invalid && f.dirty">Form invalid</div><form #f="ngForm" (submit)="save.emit(f.value)">  <input    type="text" class="form-control" name="name"    [ngModel]="activeUser?.name"    #inputName="ngModel" placeholder="name"    required minlength="3"    [ngClass]="{        \'is-valid\': inputName.valid,        \'is-invalid\': inputName.invalid && f.dirty      }"  >  <div *ngIf="f.dirty && inputName.errors as err">    <div *ngIf="err[\'required\']">field required</div>    <div *ngIf="err[\'minlength\'] as minL">      field too short. Missing {{minL.requiredLength - minL.actualLength}} chars    </div>  </div>  <input    type="text" class="form-control" name="email"    [ngModel]="activeUser?.email"    placeholder="email"    #inputEmail="ngModel"    tsEmailValidator    [ngClass]="{        \'is-valid\': inputEmail.valid,        \'is-invalid\': inputEmail.invalid && f.dirty      }"  >  <div *ngIf="f.dirty && inputEmail.errors as err">    <div *ngIf="err[\'required\']">field required</div>    <div *ngIf="err[\'email\']">email invalid</div>    <div *ngIf="err[\'pippo\']">non puoi usare pippo</div>    <div *ngIf="err[\'troppoCorto\'] as minL">      field too short    </div>  </div>  <button type="submit" (click)="clear.emit()"          *ngIf="activeUser?.id">CLEAR</button>  <button type="submit" [disabled]="f.invalid">SAVE</button></form></div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'ts-accordion'},{'name': 'AccordionGroupComponent', 'selector': 'ts-accordion-group'},{'name': 'AppComponent', 'selector': 'ts-root'},{'name': 'CardComponent', 'selector': 'ts-card'},{'name': 'ColComponent', 'selector': 'ts-col'},{'name': 'ContactsComponent', 'selector': 'ts-contacts'},{'name': 'ContactsMapComponent', 'selector': 'ts-contacts-map'},{'name': 'GmapComponent', 'selector': 'ts-gmap'},{'name': 'LoginComponent', 'selector': 'ts-login'},{'name': 'LostPassComponent', 'selector': 'ts-lost-pass'},{'name': 'NavbarComponent', 'selector': 'ts-navbar'},{'name': 'RegistrationComponent', 'selector': 'ts-registration'},{'name': 'RowComponent', 'selector': 'ts-row'},{'name': 'SettingsComponent', 'selector': 'ts-settings'},{'name': 'SignInComponent', 'selector': 'ts-sign-in'},{'name': 'Uikit1demoComponent', 'selector': 'ts-uikit1demo'},{'name': 'Uikit2demoComponent', 'selector': 'ts-uikit2demo'},{'name': 'UsersComponent', 'selector': 'ts-users'},{'name': 'UsersDetailsComponent', 'selector': 'ts-users-details'},{'name': 'UsersFormComponent', 'selector': 'ts-users-form'},{'name': 'UsersListComponent', 'selector': 'ts-users-list'},{'name': 'UsersListItemComponent', 'selector': 'ts-users-list-item'},{'name': 'WeatherComponent', 'selector': 'ts-weather'}];
    var DIRECTIVES = [{'name': 'AlertDirective', 'selector': '[tsAlert]'},{'name': 'EmailValidatorDirective', 'selector': '[tsEmailValidator]'},{'name': 'FormatInputDirective', 'selector': '[tsFormatInput]'},{'name': 'IfLoggedDirective', 'selector': '[tsIfLogged]'},{'name': 'MarginDirective', 'selector': '[tsMargin]'},{'name': 'PadDirective', 'selector': '[tsPad]'},{'name': 'StopPropagationDirective', 'selector': '[tsStopPropagation]'},{'name': 'UrlDirective', 'selector': '[tsUrl]'}];
    var ACTUAL_COMPONENT = {'name': 'UsersFormComponent'};
</script>
<script src="../js/tree.js"></script>
















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'UsersFormComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
