<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>trustit documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	   <link rel="stylesheet" href="../styles/style.css">
        <link rel="stylesheet" href="../styles/dark.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">trustit documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li
  >
  UsersListItemComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/features/users/components/users-list-item.component.ts</code>
</p>






<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover metadata">
        <tbody>

            <tr>
                <td class="col-md-3">changeDetection</td>
                <td class="col-md-9"><code>ChangeDetectionStrategy.OnPush</code></td>
            </tr>










            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>ts-users-list-item</code></td>
            </tr>



            <tr>
                <td class="col-md-3">template</td>
                <td class="col-md-9"><pre class="line-numbers"><code class="language-html">&lt;li
  class&#x3D;&quot;list-group-item&quot;
  [ngClass]&#x3D;&quot;{&#x27;active&#x27;: selected}&quot;
  (click)&#x3D;&quot;setActive.emit(user)&quot;
&gt;
  {{user.name}}
  &lt;div class&#x3D;&quot;pull-right&quot;&gt;
    &lt;i class&#x3D;&quot;fa fa-link&quot; [routerLink]&#x3D;&quot;&#x27;/users/&#x27; + user.id &quot;&gt;&lt;/i&gt;
    &lt;i class&#x3D;&quot;fa fa-arrow-circle-down&quot;
       (click)&#x3D;&quot;toggleHandler($event)&quot;&gt;&lt;/i&gt;
    &lt;i class&#x3D;&quot;fa fa-trash&quot;
       (click)&#x3D;&quot;deleteHandler(user.id, $event)&quot;&gt;&lt;/i&gt;
  &lt;/div&gt;
  &lt;div *ngIf&#x3D;&quot;opened&quot;&gt;
    {{user.email}}
    {{user.phone}}
  &lt;/div&gt;
&lt;/li&gt;
</code></pre></td>
            </tr>









        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#opened" >opened</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#deleteHandler" >deleteHandler</a>
                            </li>
                            <li>
                                <a href="#render" >render</a>
                            </li>
                            <li>
                                <a href="#toggleHandler" >toggleHandler</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#selected" >selected</a>
                            </li>
                            <li>
                                <a href="#user" >user</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Outputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#delete" >delete</a>
                            </li>
                            <li>
                                <a href="#setActive" >setActive</a>
                            </li>
                        </ul>
                    </td>
                </tr>



        </tbody>
    </table>
</section>


    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="selected"></a>
                        <b>selected</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/boolean" target="_blank" >boolean</a></code>

                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>false</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="30" class="link-to-prism">src/app/features/users/components/users-list-item.component.ts:30</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="user"></a>
                        <b>user</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="../miscellaneous/typealiases.html#User" target="_self" >User</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="29" class="link-to-prism">src/app/features/users/components/users-list-item.component.ts:29</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>
    <section>
    <h3 id="outputs">Outputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="delete"></a>
                        <b>delete</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://angular.io/api/core/EventEmitter" target="_blank" >EventEmitter</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="31" class="link-to-prism">src/app/features/users/components/users-list-item.component.ts:31</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="setActive"></a>
                        <b>setActive</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://angular.io/api/core/EventEmitter" target="_blank" >EventEmitter</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="32" class="link-to-prism">src/app/features/users/components/users-list-item.component.ts:32</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>


    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="deleteHandler"></a>
                    <span class="name">
                        <span ><b>deleteHandler</b></span>
                        <a href="#deleteHandler"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>deleteHandler(id: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank">number</a>, event: MouseEvent)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="40"
                            class="link-to-prism">src/app/features/users/components/users-list-item.component.ts:40</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>id</td>
                                    <td>
                                                <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/number" target="_blank" >number</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                                <tr>
                                    <td>event</td>
                                    <td>
                                            <code>MouseEvent</code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="render"></a>
                    <span class="name">
                        <span ><b>render</b></span>
                        <a href="#render"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>render()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="46"
                            class="link-to-prism">src/app/features/users/components/users-list-item.component.ts:46</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="toggleHandler"></a>
                    <span class="name">
                        <span ><b>toggleHandler</b></span>
                        <a href="#toggleHandler"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
<code>toggleHandler(event: MouseEvent)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="35"
                            class="link-to-prism">src/app/features/users/components/users-list-item.component.ts:35</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>event</td>
                                    <td>
                                            <code>MouseEvent</code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
    <h3 id="inputs">
        Properties
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="opened"></a>
                    <span class="name">
                        <span ><b>opened</b></span>
                        <a href="#opened"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Default value : </i><code>false</code>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="33" class="link-to-prism">src/app/features/users/components/users-list-item.component.ts:33</a></div>
                        </td>
                    </tr>


        </tbody>
    </table>
</section>

</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { ChangeDetectionStrategy, Component, EventEmitter, Input, OnInit, Output } from &#x27;@angular/core&#x27;;
import { User } from &#x27;../../../model/user&#x27;;

@Component({
  selector: &#x27;ts-users-list-item&#x27;,
  changeDetection: ChangeDetectionStrategy.OnPush,
  template: &#x60;
    &lt;li
      class&#x3D;&quot;list-group-item&quot;
      [ngClass]&#x3D;&quot;{&#x27;active&#x27;: selected}&quot;
      (click)&#x3D;&quot;setActive.emit(user)&quot;
    &gt;
      {{user.name}}
      &lt;div class&#x3D;&quot;pull-right&quot;&gt;
        &lt;i class&#x3D;&quot;fa fa-link&quot; [routerLink]&#x3D;&quot;&#x27;/users/&#x27; + user.id &quot;&gt;&lt;/i&gt;
        &lt;i class&#x3D;&quot;fa fa-arrow-circle-down&quot;
           (click)&#x3D;&quot;toggleHandler($event)&quot;&gt;&lt;/i&gt;
        &lt;i class&#x3D;&quot;fa fa-trash&quot;
           (click)&#x3D;&quot;deleteHandler(user.id, $event)&quot;&gt;&lt;/i&gt;
      &lt;/div&gt;
      &lt;div *ngIf&#x3D;&quot;opened&quot;&gt;
        {{user.email}}
        {{user.phone}}
      &lt;/div&gt;
    &lt;/li&gt;
  &#x60;,
})
export class UsersListItemComponent  {
  @Input() user!: User;
  @Input() selected: boolean &#x3D; false;
  @Output() delete &#x3D; new EventEmitter&lt;number&gt;();
  @Output() setActive &#x3D; new EventEmitter&lt;User&gt;();
  opened &#x3D; false;

  toggleHandler(event: MouseEvent) {
    event.stopPropagation();
    this.opened &#x3D; !this.opened
  }

  deleteHandler(id: number, event: MouseEvent) {
    event.stopPropagation();
    this.delete.emit(id);
    //   this.userActions.deleteHandler(id);
  }

  render() {
    console.log(&#x27;render list item&#x27;)
  }
}
</code></pre>
    </div>



    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><li  class="list-group-item"  [ngClass]="{\'active\': selected}"  (click)="setActive.emit(user)">  {{user.name}}  <div class="pull-right">    <i class="fa fa-link" [routerLink]="\'/users/\' + user.id "></i>    <i class="fa fa-arrow-circle-down"       (click)="toggleHandler($event)"></i>    <i class="fa fa-trash"       (click)="deleteHandler(user.id, $event)"></i>  </div>  <div *ngIf="opened">    {{user.email}}    {{user.phone}}  </div></li></div>'
    var COMPONENTS = [{'name': 'AccordionComponent', 'selector': 'ts-accordion'},{'name': 'AccordionGroupComponent', 'selector': 'ts-accordion-group'},{'name': 'AppComponent', 'selector': 'ts-root'},{'name': 'CardComponent', 'selector': 'ts-card'},{'name': 'ColComponent', 'selector': 'ts-col'},{'name': 'ContactsComponent', 'selector': 'ts-contacts'},{'name': 'ContactsMapComponent', 'selector': 'ts-contacts-map'},{'name': 'GmapComponent', 'selector': 'ts-gmap'},{'name': 'LoginComponent', 'selector': 'ts-login'},{'name': 'LostPassComponent', 'selector': 'ts-lost-pass'},{'name': 'NavbarComponent', 'selector': 'ts-navbar'},{'name': 'RegistrationComponent', 'selector': 'ts-registration'},{'name': 'RowComponent', 'selector': 'ts-row'},{'name': 'SettingsComponent', 'selector': 'ts-settings'},{'name': 'SignInComponent', 'selector': 'ts-sign-in'},{'name': 'Uikit1demoComponent', 'selector': 'ts-uikit1demo'},{'name': 'Uikit2demoComponent', 'selector': 'ts-uikit2demo'},{'name': 'UsersComponent', 'selector': 'ts-users'},{'name': 'UsersDetailsComponent', 'selector': 'ts-users-details'},{'name': 'UsersFormComponent', 'selector': 'ts-users-form'},{'name': 'UsersListComponent', 'selector': 'ts-users-list'},{'name': 'UsersListItemComponent', 'selector': 'ts-users-list-item'},{'name': 'WeatherComponent', 'selector': 'ts-weather'}];
    var DIRECTIVES = [{'name': 'AlertDirective', 'selector': '[tsAlert]'},{'name': 'EmailValidatorDirective', 'selector': '[tsEmailValidator]'},{'name': 'FormatInputDirective', 'selector': '[tsFormatInput]'},{'name': 'IfLoggedDirective', 'selector': '[tsIfLogged]'},{'name': 'MarginDirective', 'selector': '[tsMargin]'},{'name': 'PadDirective', 'selector': '[tsPad]'},{'name': 'StopPropagationDirective', 'selector': '[tsStopPropagation]'},{'name': 'UrlDirective', 'selector': '[tsUrl]'}];
    var ACTUAL_COMPONENT = {'name': 'UsersListItemComponent'};
</script>
<script src="../js/tree.js"></script>
















                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> results matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

          <label class="dark-mode-switch">
               <input type="checkbox">
               <span class="slider">
                    <svg class="slider-icon" viewBox="0 0 24 24" fill="none" height="20" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" width="20" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                    </svg>
               </span>
          </label>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'UsersListItemComponent.html';
            var MAX_SEARCH_RESULTS = 15;
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>

       <script src="../js/menu-wc.js" defer></script>
       <script nomodule src="../js/menu-wc_es5.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
